.fancy-header {
    color: ghostwhite;
    text-decoration: underline;
    display: flex;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightgray;
}
h1{
    color: whitesmoke;
    text-decoration: underline;
}
body {
    background-image: url("../images/darkBlueTech.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Petit Formal Script', cursive
}

main{
color: lightsteelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Petit Formal Script', cursive;
}
ul{
    list-style: square;

}
ol{
    list-style: lower-roman;
}
body{
    font-family: 'Petit Formal Script', cursive;;
}
table, th,td{
    padding: 15px;
    text-align: left;
    background-color: lightblue;
    color: darkblue;
    border: 1px solid black;
    table-layout: fixed;
}
img{
    height: 300px;
    width: 500px;
    padding: 50px;
    background-color: white;
}
