.weather-card .card-text {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.weather-card .card-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
#searchBtn{
    margin-right: .2em;
    border-width: 2px;
}
body{
    background-color: ghostwhite;
}
